/* ------- */
/*  FONTS  */
/* ------- */

/* https://google-webfonts-helper.herokuapp.com/fonts/mada?subsets=latin,latin-ext */

/* mada-regular - latin */
@font-face {
  font-family: 'BIJ1';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/BIJ1-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/BIJ1-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* mada-500 - latin */
@font-face {
  font-family: 'BIJ1';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/BIJ1-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/BIJ1-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* mada-600 - latin */
@font-face {
  font-family: 'BIJ1';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/BIJ1-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/BIJ1-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* mada-700 - latin */
@font-face {
  font-family: 'BIJ1';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/BIJ1-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/BIJ1-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* BIJ1-bold - latin */
@font-face {
  font-family: 'BIJ1';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/BIJ1-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/BIJ1-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

    
h1, h2, h3, h4, h5, h6 {
    overflow-wrap: normal;
}

h1 {
    line-height: 35.5px;
}

@media screen and (min-width: 64em) {
    h1 {
        line-height: 62px;
    }
}

h2 {
    line-height: 32px;
}

@media screen and (min-width: 64em) {
    h2 {
        line-height: 46px;
    }
}

h3 {
    line-height: 25px;
}

@media screen and (min-width: 64em) {
    h3 {
        line-height: 35px;
    }
}

h4 {
    line-height: 20px;
}

@media screen and (min-width: 64em) {
    h4 {
        line-height: 26px;
    }
}

h5 {
    line-height: 18px;
}

@media screen and (min-width: 64em) {
    h5 {
        line-height: 24px;
    }
}

h5 {
    line-height: 16px;
}

@media screen and (min-width: 64em) {
    h5 {
        line-height: 18px;
    }
}

@media screen and (max-width: 39.99875em) {
    li,
    p {
        font-size: 18px;
        line-height: 22.5px;
    }
}

strong {
    line-height: 22.5px;
}

@media screen and (min-width: 40em) {
    strong {
        line-height: 30px;
    }
}

blockquote {
    padding-top: 0;
}

small {
    font-weight: 600;
    line-height: 15px;
}

.yellowtext {
    color: #FFFF00;
}

.whitetext {
    color: #fff;
}

p a {
    transition: all ease 0.25s;
    color: #C700BF;
    text-decoration: underline;
}

p a:hover {
    color: #C700BF;
    text-decoration: underline;
    text-decoration-color: #C700BF;
    -webkit-text-decoration-color: #C700BF;
    -moz-text-decoration-color: #C700BF;
}

.socials i {
    font-size: 20px;
}

.link {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* FIX WAARDOOR IN LIJSTEN IN BLOKKEN LINKS OOK EEN KLEUR KRIJGEN (STAAN NIET IN EEN P) */
.block.text-block li a {
    transition: all ease 0.25s;
    color: #C700BF;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.block.text-block li a:hover {
    text-decoration: underline;
}

/* --------- */
/*  GENERAL  */
/* --------- */
@media screen and (min-width: 40em) {
    .breakword {
        overflow-wrap: break-word;
        width: 105%;
        hyphens: auto;
    }
}

.purpleicon {
    color: #C700BF;
}

@media screen and (max-width: 39.99875em) {
    .purpleicon {
        display: none;
    }
}

.purpletext {
    color: #C700BF;
}

hr.alternatehr {
    margin-top: 0;
}

.bold {
    font-weight: bold;
}

body {
    margin-top: 90px;
}

.overlay {
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background: #161616;
}

.altheader span {
    color: #161616;
    position: relative;
    z-index: 1;
    margin-left: 5px;
}

.altheader span:after {
    content: "";
    position: absolute;
    background: #FFFF00;
    z-index: -1;
    left: -10px;
    right: -10px;
    top: 10px;
    bottom: 0;
    border-radius: 5px;
}

.altheader h1 span {
    margin-left: 10px;
}

.altheader h1 span:after {
    right: -10px;
    top: 0px;
    left: -7px;
    right: -7px;
}

@media screen and (min-width: 64em) {
    .altheader h1 span:after {
        top: 0px;
        left: -10px;
    }
}

.altheader h2 span {
    margin-left: 10px;
}

.altheader h2 span:after {
    top: 5px;
    left: -5px;
    right: -5px;
}

@media screen and (min-width: 64em) {
    .altheader h2 span:after {
        left: -8px;
        right: -8px;
    }
}

.altheader h3 span {
    margin-left: 5px;
}

.altheader h3 span:after {
    top: 4px;
    left: -5px;
    right: -5px;
}

.altheader h4 span {
    margin-left: 5px;
}

.altheader h4 span:after {
    top: 3px;
    left: -4px;
    right: -4px;
}

.fake {
    margin-left: 10px;
}

.fake span {
    margin-left: 0;
    display: table-caption;
}

.fake span:after {
    top: 0;
    bottom: -5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #FFFF00;
}

.uppercase {
    text-transform: uppercase;
}

.nbm {
    margin-bottom: 0;
}

.sbm {
    margin-bottom: 15px;
}

.tm {
    margin-top: 15px;
}

.ltm {
    margin-top: 30px;
}

.xltm {
    margin-top: 120px;
}

.line {
    width: 100%;
    height: 10px;
}

.line.orange {
    background: #FF9600;
}

.line.blue {
    background: #00CCFF;
}

.line.pink {
    background: #FF00BA;
}

.line.green {
    background: #4FD600;
}

.line.red {
    background: #FF0000;
}

.line.purple {
    background: #C700BF;
}

.fullwidthline {
    max-width: 100%;
    margin: 0;
}

.coverimage {
    object-fit: cover;
    width: 100%;
}

@media screen and (min-width: 40em) {
    .coverimage {
        height: 500px;
    }
}

@media screen and (min-width: 64em) {
    .coverimage {
        height: 100%;
        width: auto;
    }
}

.navfooter a {
    text-decoration: none;
}

.navfooter.lastblock {
    margin-top: 120px;
}

.navfooter .background {
    transition: all ease 0.25s;
    padding: 20px 0;
    line-height: 0;
}

.navfooter .background.blackbackground {
    background: #161616;
    color: #fff;
}

.navfooter .background.blackbackground a {
    transition: all ease 0.25s;
    color: #fff;
}

.navfooter .background.blackbackground:hover {
    background: #FFFF00;
}

.navfooter .background.blackbackground:hover a {
    color: #161616;
}

.navfooter .background.yellowbackground {
    background: #FFFF00;
}

.navfooter .background.yellowbackground:hover {
    background: #161616;
}

.navfooter .background.yellowbackground:hover a {
    color: #fff;
}

.imagecontainer {
    height: 100%;
    overflow: hidden;
    height: 725px;
}

.imagecontainer .coverimage {
    width: 100%;
}

.subscript i {
    display: inline-block;
}

.subscript h5.date {
    font-size: xx-small;
    color: gray;
}

.subscript p.bold {
    margin-bottom: 5px;
}

@media screen and (max-width: 39.99875em) {
    .subscript {
        margin: 30px 0;
    }
}

.imagecontainer-small {
    overflow: hidden;
    margin-bottom: 30px;
    height: 150px;
}

@media screen and (min-width: 40em) {
    .imagecontainer-small {
        height: 250px;
    }
}

.imagecontainer-small img {
    height: 100%;
    object-fit: cover;
}

/* -------- */
/*  BUTTONS */
/* -------- */
.button {
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    text-decoration: none;
}

.button.roundbutton {
    padding: 14px;
}

.button.roundbutton i:before {
    margin: 0;
}

.button.whitebutton {
    background: #fff;
    color: #161616;
}

.button.secondary:hover {
    background: #161616;
    color: white;
}

.button.arrowbutton i {
    transition: all ease 0.25s;
    margin-left: 0;
    margin-right: 10px;
}

.button.arrowbutton i:before {
    margin: 0;
}

.button.arrowbutton:hover i {
    margin-left: -5px;
    margin-right: 15px;
}

.button:hover {
    background: #FFFF00;
    color: #161616;
}

.arrowlink {
    text-transform: uppercase;
    transition: all ease 0.25s;
    font-size: 17px;
    line-height: 18px;
    padding: 0;
    position: relative;
    display: inline-block;
    font-weight: 600;
}

.arrowlink i {
    transition: all ease 0.25s;
}

.arrowlink.left i {
    margin-left: 25px;
    margin-right: 15px;
}

.arrowlink.right i {
    margin-left: 15px;
    margin-right: 25px;
}

.arrowlink:hover.left i {
    margin-left: 15px;
    margin-right: 25px;
}

.arrowlink:hover.right i {
    margin-left: 25px;
    margin-right: 15px;
}

/* --------------- */
/*  TOPBAR & MENU  */
/* --------------- */
.skiptocontent {
    position: absolute;
    top: 4.5rem;
    font-weight: bold;
    left: 1rem;
    background: #fff;
    font-size: 0.85rem;
    border: 2px solid #000;
    padding: 0.5rem;
    line-height: 1;
    opacity: 0;
}

.skiptocontent:focus-within,
.skiptocontent:hover {
    opacity: 1;
}

.menu {
    font-size: 17px;
    line-height: 18px;
}

.menu a {
    padding: 0;
    margin: 0 0 15px;
}

@media screen and (min-width: 40em) {
    .menu a {
        margin: 0 0 20px;
    }
}

.menu.vertical:first-child {
    padding-top: 15px;
}

.menu.vertical.first:first-child {
    padding-top: 0;
}

.topbar {
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    margin: 0;
}

.topbar a {
    margin: 0;
}

.topbar .cell {
    line-height: 0;
}

.topbar .logo {
    margin: 20px 0;
    display: inline-block;
}

.topbar .logo img {
    height: 40px;
    width: auto;
}

.topbar .logo img.small {
    display: none;
}

@media(max-width: 900px) {
    .topbar .logo img.big {
        display: none;
    }

    .topbar .logo img.small {
        display: inline-block;
    }
}

.topbar .menu.small-padding {
    margin-right: 1rem;
}

.topbar .menu.small-padding a {
    padding: 5px 0 0;
}

.topbar .menu a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding: 0.7rem 1rem;
}

.topbar .menu li a {
    transition: all ease 0.25s;
    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.topbar .menu li:hover a {
    color: #C700BF;
    text-decoration: underline;
    text-decoration-color: #C700BF;
    -webkit-text-decoration-color: #C700BF;
    -moz-text-decoration-color: #C700BF;
}

.topbar .menu li.current-menu-item a {
    color: #C700BF;
    pointer-events: none;
}

.topbar .menu li.current-menu-item a {
    text-decoration: none !important;
}

.languageswitch {
    list-style-type: none;
    margin-left: 0 !important;
    padding: 5px 0 0;
}

.languageswitch a {
    padding: 0 !important;
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    font-size: 0 !important;
    color: #fff;
}

.languageswitch a:after {
    position: absolute;
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.languageswitch a:hover {
    transform: scale(1.1);
}

.languageswitch .lang-item-nl a:after {
    background-image: url("../img/includes/NL.svg") !important;
}

.languageswitch .lang-item-en a:after {
    background-image: url("../img/includes/ENG.svg") !important;
}

.admin-bar .topbar {
    top: 32px;
}

/* ------------ */
/*  SEARCHMENU  */
/* ------------ */
.aftercolor {
    transition: all ease 0.25s;
    transform: rotate(0deg);
}

.aftercolor:hover {
    transform: scale(1.1);
}

.searchmenu {
    transition: all ease-out 0.75s;
    transform: translateY(-100vh);
    position: fixed;
    z-index: 11;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
}

.searchmenu.expanded {
    transform: translateY(0);
    bottom: 0;
    top: 0;
}

.searchmenu h4 {
    margin-bottom: 60px;
}

.searchmenu p {
    line-height: 20px;
    margin-bottom: 7px;
}

.searchmenu input {
    border-bottom: none !important;
}

.searchmenu .medium-4 p:first-child {
    margin-bottom: 1rem;
    display: block;
}

.searchmenu .medium-4:first-child p {
    display: inline-block;
    margin-right: 0.5rem;
}

.searchmenu #searchform {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #161616;
}

.searchmenu .flex-container {
    height: 100%;
    position: relative;
}

.searchmenu .flex-container #searchmenuclosebutton {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 130px;
}

.searchmenu .flex-container #searchmenuclosebutton span {
    transition: all ease 0.25s;
    position: absolute;
    height: 1px;
    width: 20px;
    background: #161616;
    left: 0;
}

.searchmenu .flex-container #searchmenuclosebutton span:first-child {
    transform: rotate(-45deg);
    top: 6px;
}

.searchmenu .flex-container #searchmenuclosebutton span:last-child {
    transform: rotate(45deg);
    top: 6px;
}

.searchmenu .flex-container #searchmenuclosebutton:hover span {
    height: 2px;
}

/* ---------- */
/*  ICONMENU  */
/* ---------- */
#iconmenubutton {
    position: relative;
    z-index: 99;
    height: 20px;
    width: 20px;
    display: block;
}

#iconmenubutton span {
    transition: all ease 0.25s;
    position: absolute;
    background: #161616;
    height: 1px;
    width: 20px;
    left: 0;
    top: 10px;
}

#iconmenubutton span:first-child {
    transform: rotate(90deg);
}

#iconmenubutton.expanded span {
    transform: rotate(-180deg);
}

#iconmenubutton.expanded span:first-child {
    transform: rotate(0deg);
}

#iconmenu {
    transition: all ease 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 14;
}

#iconmenu .menu a {
    padding-top: 5px;
    margin-bottom: 0;
}

#iconmenu.expanded {
    top: 200px;
}

#iconmenu .button {
    padding: 0 15px;
}

/* ------------ */
/*  INDEX MENU  */
/* ------------ */
#indexmenu {
    transition: all ease 0.5s;
    position: fixed;
    z-index: 6;
    background: #fff;
    left: 0;
    right: 0;
    top: -1000px;
    padding-top: 90px;
}

@media screen and (max-width: 39.99875em) {
    #indexmenu {
        height: 100vh;
        overflow: scroll;
    }
}

#indexmenu.expanded {
    top: 0;
}

#indexmenu .inner {
    padding: 60px 0;
}

#indexmenu hr {
    padding-top: 63.5px;
}

#indexmenuoverlay {
    transition: all ease 0.5s;
    display: none;
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
}

#indexmenuoverlay.expanded {
    display: block;
    opacity: 0.5;
}

.indexclosebutton {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    top: 130px;
}

.indexclosebutton span {
    transition: all ease 0.25s;
    position: absolute;
    height: 1px;
    width: 20px;
    background: #161616;
    left: 0;
}

.indexclosebutton span:first-child {
    transform: rotate(-45deg);
    top: 6px;
}

.indexclosebutton span:last-child {
    transform: rotate(45deg);
    top: 6px;
}

.indexclosebutton:hover span {
    height: 2px;
}

/* ----------- */
/*  LEFT MENU  */
/* ----------- */
.leftmenubutton {
    position: fixed;
    top: 30px;
    left: 30px;
    display: block;
    z-index: 30;
    width: 20px;
    height: 20px;
}

.leftmenubutton span {
    transition: all ease 0.25s;
    position: absolute;
    height: 1.5px;
    width: 20px;
    background: #fff;
    left: 0;
}

.leftmenubutton span:first-child {
    transform: rotate(-45deg);
    top: 6px;
}

.leftmenubutton span:last-child {
    transform: rotate(45deg);
    top: 6px;
}

.leftmenubutton:hover span {
    left: unset;
}

.leftmenubutton:hover span:first-child {
    height: 3px;
}

.leftmenubutton:hover span:last-child {
    height: 3px;
}

.leftmenu {
    transform: translateX(-500px);
    transition: all ease 0.5s;
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #161616;
}

@media screen and (max-width: 39.99875em) {
    .leftmenu {
        height: 100vh;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 500px) {
    .leftmenu {
        right: 0;
    }
}

.leftmenu h4,
.leftmenu p {
    color: #fff;
}

.leftmenu p {
    font-size: 18px;
    line-height: 18px;
}

.leftmenu h4 {
    margin-top: 20px;
}

.leftmenu.expanded {
    transform: translateX(0);
}

.leftmenu .inner {
    height: 100%;
    padding: 60px;
}

@media screen and (min-width: 40em) {
    .leftmenu .inner {
        padding: 75px;
    }
}

.leftmenu .inner .menu {
    transition: all ease 0.25s;
    display: inline-block;
}

.leftmenu .inner .menu.ctamenu a {
    transition: all ease 0.25s;
    color: #FFFF00;
    display: inline-block;
}

.leftmenu .inner .menu.ctamenu a:hover {
    background: none;
    color: #fff;
}

.leftmenu .inner .menu.first a {
    transition: all ease 0.25s;
    font-size: 34px;
    line-height: 35.5px;
    font-family: BIJ1, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    background: #FFFF00;
    border-radius: 5px;
    margin-bottom: 10px;
}

.leftmenu .inner .menu.first a:hover {
    background: #161616;
    color: #FFFF00;
}

.leftmenu .inner .menu.second a {
    color: #fff;
    position: relative;
}

.leftmenu .inner .menu.second a:after {
    transition: all ease 0.25s;
    font-family: "fontello";
    content: "";
    margin-left: 15px;
}

.leftmenu .inner .menu.second a:hover:after {
    margin-left: 25px;
}

.overlay {
    transition: all ease 0.5s;
    display: none;
    z-index: 19;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
}

.overlay.expanded {
    display: block;
    opacity: 0.5;
}

/* ---------------- */
/*  NAVIGATION BAR  */
/* ---------------- */
.stickynav {
    position: fixed;
    transition: all ease 0.25s;
    padding-top: 20px;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 4;
}

.stickynav.background {
    background: #fff;
}

.stickynav.scroll hr {
    max-width: 0;
}

.stickynav hr {
    transition: all ease 0.75s;
    max-width: 100%;
    margin-bottom: 0;
}

.stickynav.scrollUp {
    transform: translateY(-145px);
}

/* ------------ */
/*  CTA BUTTON  */
/* ------------ */
.doemee {
    transition: all ease 0.25s;
    position: fixed;
    background: #FFFF00;
    border-radius: 9999px;
    padding: 17px;
    line-height: 38px;
    transform: rotate(-20deg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    z-index: 21;
    right: 15px;
    bottom: 15px;
}

@media screen and (min-width: 64em) {
    .doemee {
        padding: 22px;
        right: 60px;
        bottom: 60px;
    }
}

.doemee:hover {
    background: #161616;
    color: #fff;
    transform: rotate(0deg);
}

.doemee {
    text-decoration: none;
}


/* -------- */
/*  BLOCKS  */
/* -------- */
.container {
    overflow-x: hidden;
}

.content-block.audio {
    margin: 60px 0 !important;
}

.spacingblock {
    margin-bottom: 60px;
}

@media screen and (min-width: 40em) {
    .spacingblock {
        margin-top: 120px;
    }
}

.spacingblock.smallspacingblock {
    margin-bottom: 30px;
}

@media screen and (min-width: 40em) {
    .spacingblock.smallspacingblock {
        margin-top: 60px;
    }
}

.content-block:first-child {
    margin-top: 60px;
}

.content-block:last-child {
    margin-bottom: 60px;
}

@media screen and (min-width: 40em) {
    .content-block:last-child {
        margin-bottom: 120px !important;
    }
}

.content-block .large-6.cell {
    position: relative;
}

.content-block ol,
.content-block p,
.content-block ul,
.content-block h1,
.content-block h2,
.content-block h3,
.content-block h4,
.content-block h5,
.content-block h6 {
    max-width: 1000px;
    margin: 0 auto;
}

.content-block a {
    text-decoration: underline;
}

.content-block ol a, .content-block ul a {
    transition: all ease 0.25s;
    color: #C700BF;
}

.block {
    margin: 30px 0;
}

@media only screen and (min-width: 40em) {
    .block {
        margin: 60px 0;
    }
}

.block.content-block {
    margin: 30px 0;
}

@media screen and (max-width: 39.99875em) {
    .block.content-block ol,
    .block.content-block ul {
        margin-left: 20px;
    }
}

.block.content-block li {
    padding-left: 15px;
}

.block.content-block li::marker {
    font-weight: bold;
}

.block.content-block h1:last-child,
.block.content-block h2:last-child,
.block.content-block h3:last-child,
.block.content-block h4:last-child,
.block.content-block h5:last-child,
.block.content-block h6:last-child,
.block.content-block ol:last-child,
.block.content-block p:last-child,
.block.content-block ul:last-child {
    margin-bottom: 0;
}

.block.background {
    margin: 0;
    padding: 50px 0;
}

@media only screen and (min-width: 40em) {
    .block.background {
        padding: 100px 0;
    }
}

.block.nospace {
    margin: 0;
    padding: 0;
}

.blockmargin {
    margin: 25px 0;
}

@media only screen and (min-width: 40em) {
    .blockmargin {
        margin: 50px 0;
    }
}

.blockpadding {
    padding: 30px 0;
}

@media only screen and (min-width: 40em) {
    .blockpadding {
        padding: 60px 0;
    }
}

.blockpadding.blockpaddingtoplarge {
    margin: 60px 0;
}

@media only screen and (min-width: 40em) {
    .blockpadding.blockpaddingtoplarge {
        margin: 120px 0;
    }
}

.blockpaddingtop {
    padding: 30px 0 0;
}

@media only screen and (min-width: 40em) {
    .blockpaddingtop {
        padding: 60px 0 0;
    }
}

.blockpaddingtop.blockpaddingtoplarge {
    margin: 60px 0;
}

@media only screen and (min-width: 40em) {
    .blockpaddingtop.blockpaddingtoplarge {
        margin: 120px 0;
    }
}

.itemblockpadding {
    margin: 45px 0;
}

@media only screen and (min-width: 40em) {
    .itemblockpadding {
        margin: 90px 0;
    }
}

.itemblockpadding.itemblockpaddinglarge {
    margin: 60px 0;
}

@media only screen and (min-width: 40em) {
    .itemblockpadding.itemblockpaddinglarge {
        margin: 150px 0;
    }
}

.mobileinner {
    padding: 30px 14px;
}

.colorchangeblock.blackbackground .mobileinner {
    background: #161616;
    color: #fff;
}

.colorchangeblock.blackbackground .mobileinner hr {
    border-bottom: 1.5px solid #fff;
}

.posttypeblock2 {
    margin: 90px 0;
}

.posttypeblock2 .imagecontainer {
    height: 400px;
}

.posttypeblock3 {
    margin: 60px 0;
}

.posttypeblock3 .imagecontainer {
    height: 400px;
    margin-bottom: 30px;
}

.hoverblock {
    transition: all ease 0.25s;
}

.hoverblock .cell {
    transition: all 1s ease;
}

.hoverblock:hover {
    background: #161616;
    color: #fff;
}

.hoverblock:hover hr {
    border-bottom: 1.5px solid #fff;
}

.hoverblock:hover .button {
    background: white;
    color: #161616;
}

.hoverblock:hover .button:hover {
    background: #FFFF00;
}

.hoverblock li {
    font-weight: bold;
}

.hoverblock .inner {
    padding: 0 14px;
}

/* ------ */
/*  CORE  */
/* ------ */
.content-block .wp-block-quote {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

.content-block .wp-block-quote p {
    color: #161616;
    font-size: 32px;
    line-height: 32px;
}

@media screen and (min-width: 40em) {
    .content-block .wp-block-quote p {
        font-size: 46px;
        line-height: 50px;
    }
}

.content-block .wp-block-quote cite {
    font-style: unset;
    color: #161616;
    font-family: BIJ1, sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.content-block .wp-block-quote cite:before {
    display: none;
}

.content-block .wp-block-pullquote {
    background: #161616;
    padding: 0;
}

.content-block .wp-block-pullquote p {
    color: #fff;
    text-transform: uppercase;
    font-family: BIJ1, sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
}

@media screen and (min-width: 40em) {
    .content-block .wp-block-pullquote p {
        font-size: 35px;
        line-height: 35px;
    }
}

.content-block .wp-block-pullquote blockquote {
    border-radius: 5px;
    padding: 10px;
}

@media screen and (min-width: 40em) {
    .content-block .wp-block-pullquote blockquote {
        padding: 20px 30px;
    }
}

/* ------- */
/*  PARTS  */
/* ------- */
.titelblock {
    margin-bottom: 30px;
}

@media screen and (min-width: 40em) {
    .titelblock {
        margin-bottom: 60px;
    }
}

.kandidaten ul,
.programma_items ul {
    font-size: 18px;
    line-height: 22.5px;
    margin-left: 18px;
}

.kandidaten ul li,
.programma_items ul li {
    margin-bottom: 15px;
}

.kandidaten ul li::marker,
.programma_items ul li::marker {
    font-weight: bold;
}

.nieuwsitem .nieuwsimage {
    height: 350px;
    object-fit: cover;
}

.news-grid-cell a.black-link {
    color: black;
}

.news-grid-cell a.black-link:hover {
    color: #C700BF;
}

@media screen and (min-width: 40em) {
    .nieuwsitem .nieuwsimage {
        height: 400px;
    }
}

.nieuwsitem .nieuwsimage.nieuwsimageflat {
    height: 250px;
}

.text-block .read-more {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.text-block .read-more.show {
    height: auto;
}

.text-block .read-more.show .white-fade {
    display: none;
}

.text-block #read-more-text {
    display: block;
    padding: 30px;
}

.text-block .white-fade {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
}

.text-block li {
    margin-bottom: 28px;
}

.text-block li::marker {
    font-weight: bold;
    position: absolute;
}

.cta .inner {
    background: #161616;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    color: #fff;
}

.cta .inner h2 {
    color: #FFFF00;
}

.cta .inner .button:hover {
    background: #fff;
    color: #161616;
}

.collectiekaart .inner {
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
}

.collectiekaart .inner .square_image {
    height: 245px;
    object-fit: cover;
}

@media screen and (min-width: 40em) and (max-width: 63.99875em) {
    .collectiekaart .inner .square_image {
        width: 100%;
        height: 350px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 39.99875em) {
    .collectiekaart .inner .square_image {
        margin-bottom: 15px;
    }
}


/* ------- */
/*  COVER  */
/* ------- */
.imageblock {
    height: calc(100vh - 90px);
    min-height: 450px;
    display: flex;
    object-fit: cover;
    width: 100%;
}

.imageblock .inner {
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.cover.blockpaddingtop {
    padding-top: 130px;
    margin-bottom: 60px;
}

.cover .headercontainer {
    margin-bottom: 20px;
}

.headercontainer a:hover {
    transition: all ease 0.25s;
}

.headercontainer a:hover h2 {
    color: #FFFF00;
}

.headercontainer .kandidatenheader {
    background: #FFFF00;
    color: #161616;
}

.headercontainer h1 {
    background: #161616;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
}
@media screen and (min-width: 40em) {
    .headercontainer h1 {
        padding: 20px 40px;
    }
}

.headercontainer h2 {
    color: #fff;
    background: #161616;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
}

@media screen and (min-width: 40em) {
    .headercontainer h2 {
        padding: 20px;
    }
}

.headercontainer h3 {
    color: #fff;
    background: #161616;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

@media screen and (min-width: 40em) {
    .headercontainer h3 {
        padding: 20px;
    }
}

.headercontainer h4 {
    color: #fff;
    background: #161616;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

@media screen and (min-width: 40em) {
    .headercontainer h4 {
        padding: 20px 10px;
    }
}

.headercontainer h5 {
    color: #fff;
    background: #161616;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

@media screen and (min-width: 40em) {
    .headercontainer h4 {
        padding: 20px 10px;
    }
}


/* --------------------------- */
/*  FAQ / veelgestelde vragen
/* --------------------------- */
.accordion-item .accordion-title {
    background: #FFFF00;
    border: none;
    border-radius: 25px !important;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    font-size: 18px;
    font-weight: bold;
    padding-right: 75px;
}

@media screen and (min-width: 40em) {
    .accordion-item .accordion-title {
        font-size: 24px;
    }
}

.accordion-item .accordion-content {
    border: none;
    border-radius: 25px !important;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
}

.accordion-item .accordion-content p {
    font-size: 18px;
    line-height: 22.6px;
}

.accordion-item .accordion-title::before {
    font-family: "fontello";
    content: "" !important;
}

.accordion-item.is-active .accordion-title::before {
    content: "" !important;
}

/* -------- */
/*  SINGLE  */
/* -------- */
.text-block p:last-child {
    margin-bottom: 0;
}

/* ----------------------- */
/*  FACETWP FILTERS RADIO  */
/* ----------------------- */
.filters h4 {
    position: relative;
    margin-bottom: 35px;
    z-index: 1;
}

.filters .facetwp-radio {
    background: none;
    padding-left: 0;
    font-size: 20px;
    opacity: 0.4;
}

.filters .facetwp-radio.checked {
    background: none;
    opacity: 1;
}

/* ---------- */
/*  VACATURE  */
/* ---------- */
.vacature-type p strong {
    margin-bottom: 15px;
}

.vacature-type .vacature {
    margin-bottom: 30px;
}

/* -------- */
/*  FOOTER  */
/* -------- */
.footer-doneer {
    background: #00CCFF;
}

.footer-nieuwsbrief {
    background: #4FD600;
}

.footer-doneer a {
    text-decoration: underline;
}

@media screen and (max-width: 39.99875em) {
    .footer .socials {
        margin-bottom: 30px;
    }
    .footer ul {
        padding-top: 0 !important;
    }
}

.footer .navtitle {
    text-transform: inherit;
    font-family: BIJ1, sans-serif;
    font-weight: bold;
}

.footer i {
    font-size: 120%;
    color: #FFFF00;
    transition: all ease 0.25s;
}

.footer i:hover {
    color: #fff;
}

.footer .menu a {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    transition: all ease 0.25s;
}

.footer .menu a:hover {
    color: #FFFF00;
}

.footer .footer-ontdek {
    background: #161616;
    color: #fff;
}

.footer .footer-ontdek hr {
    border-bottom: 1.5px solid #fff;
}

.footer .lowerfooter {
    background: #fff;
    position: relative;
    z-index: 5;
}

.footer .lowerfooter p {
    font-size: 17px;
    line-height: 18px;
    font-weight: 600;
}

.footer .lowerfooter .lowerfooter-container {
    height: 80px;
    display: grid;
    align-items: center;
}

.footer .lowerfooter .lowerfooter-container .footerlogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .footer-doneer p,
    .footer-nieuwsbrief p {
        padding-right: 2rem;
    }
}

/* --------------- */
/*  AJAX LOADMORE */
/* --------------- */
.alm-btn-wrap .alm-load-more-btn.more {
    transition: all ease 0.25s;
    width: 100%;
    background: #161616;
    color: #fff;
    padding: 20px 0;
    border-radius: unset;
    text-transform: uppercase;
    font-family: BIJ1, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.alm-btn-wrap .alm-load-more-btn.more.done {
    display: none;
}

.alm-btn-wrap .alm-load-more-btn.more:hover {
    background: #FFFF00;
    color: #161616;
}

/* ------------- */
/*  FORMULIEREN  */
/* ------------- */
.fundraiser h2,
span.raised {
    font-family: BIJ1, sans-serif;
    font-weight: 600;
}

body input {
    background: none;
    background-color: none !important;
    color: #161616;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
    background: none !important;
    background-color: none !important;
    color: #161616 !important;
    border: none;
    border-radius: 0;
    border-bottom: 1.5px solid #161616 !important;
    padding-left: 0;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea {
    background: none !important;
    background-color: none !important;
    color: #161616 !important;
    border: none;
    border-radius: 0;
    border-bottom: 1.5px solid #161616;
    padding-left: 0;
}

[type=checkbox],
[type=file],
[type=radio] {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

input::placeholder {
    color: #161616;
}

.radio img {
    height: 42px;
    border-radius: 99px !important;
    margin-bottom: 30px;
}

.fundraiser span {
    color: #161616 !important;
}

.fakebutton {
    border-radius: 99px;
    background: #fff !important;
    color: inherit !important;
    margin: 0 0 1rem;
    padding: 14px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
}

.progress {
    width: 100%;
    border-radius: 99px;
    background: #fff;
}

.progress .progress-meter {
    border-radius: 99px;
}

input.fakebutton {
    height: 42px;
    border-bottom: none !important;
}

input.fakebutton:active,
input.fakebutton:focus {
    background: #fff !important;
    border-radius: 20px;
    padding-left: 20px;
}

@media screen and (max-width: 39.99875em) {
    .uitzonderingmargin .uitzondering {
        padding: 0 5px;
    }

    .uitzonderingmargin .uitzondering:first-child {
        padding: 0 5px 0 0;
    }

    .uitzonderingmargin .uitzondering:nth-child(3) {
        padding: 0 0 0 5px;
    }

    .uitzonderingmargin .uitzondering:last-child {
        padding: 0;
    }
}

@media screen and (min-width: 40em) {
    .uitzonderingmargin .uitzondering {
        margin: 0 5px;
    }

    .uitzonderingmargin .uitzondering:first-child {
        margin: 0 5px 0 0;
    }

    .uitzonderingmargin .uitzondering:last-child {
        margin: 0 0 0 5px;
    }
}

/* --------- */
/*  FACETWP  */
/* --------- */
.facettest {
    display: inline-block;
}

.facetwp-facet {
    margin-bottom: 0;
}

.facetwp-facet .facetwp-counter {
    display: none;
}

.facetwp-facet .facetwp-radio {
    transition: all ease 0.25s;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    background: #fff;
    padding: 20px 30px;
    border-radius: 99px;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    height: 42px;
    margin: 7.5px;
}

.facetwp-facet .facetwp-radio:first-child {
    margin: 15px 7.5px 15px 0;
}

.facetwp-facet .facetwp-radio:last-child {
    margin: 15px 0 15px 7.5px;
}

.facetwp-facet .facetwp-radio.checked {
    background: #FFFF00;
}

.facetwp-facet .facetwp-radio:hover {
    background: #FFFF00;
    color: #161616;
}

/* ------------ */
/*  DICTIONARY  */
/* ------------ */
.dictionary-panel {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    line-height: 20px;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    color: #C700BF;
    display: block;
    font-size: 15px;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .dictionary-panel {
        margin: 15px 0;
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .dictionary-panel {
        position: absolute;
        width: 215px;
        transform: translate(-275px, -50%);
    }

    .dictionary-panel.right {
        right: 0;
        transform: translate(275px, -50%);
    }
}

@media screen and (min-width: 1250px) {
    .dictionary-panel {
        position: absolute;
        width: 275px;
        transform: translate(-300px, -50%);
    }

    .dictionary-panel.right {
        right: 0;
        transform: translate(300px, -50%);
    }
}

@media screen and (min-width: 1600px) {
    .dictionary-panel {
        position: absolute;
        width: 375px;
        transform: translate(-400px, -50%);
    }

    .dictionary-panel.right {
        right: 0;
        transform: translate(400px, -50%);
    }
}

@media screen and (min-width: 2055px) {
    .dictionary-panel {
        position: absolute;
        width: 500px;
        transform: translate(-525px, -50%);
    }

    .dictionary-panel.right {
        right: 0;
        transform: translate(525px, -50%);
    }
}

.dic-title {
    font-family: BIJ1, sans-serif;
    display: block;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@media screen and (min-width: 40em) {
    .dic-title {
        font-size: 16px;
        line-height: 18px;
    }
}

/* FIX WAARBIJ DE DICTIONARY OVERLAPT MET EEN CIJFER VAN EEN OPSOMMING, GAAT NOG WAT MIS OP 1600PX BREAKPOINT */
.block-text-block li {
    position: relative;
}
@media screen and (min-width: 1024px) {
    li .dictionary-panel {
        transform: translate(-280px, -50%);
    }
}
@media screen and (min-width: 1250px) {
    li .dictionary-panel {
        transform: translate(-335px, -50%);
    }
}
@media screen and (min-width: 1600px) {
    li .dictionary-panel {
        transform: translate(-435px, -50%);
    }
}
@media screen and (min-width: 2055px) {
    li .dictionary-panel {
        transform: translate(-560px, -50%);
    }
}

/* ----------------- */
/*  DOEMEE TEMPLATE  */
/* ----------------- */
.contactpage p.nbm,
.doemeepage p.nbm {
    margin-top: 40px;
}

.contactpage .fullheight,
.doemeepage .fullheight {
    height: 400px;
}

@media screen and (min-width: 40em) {
    .contactpage .fullheight,
    .doemeepage .fullheight {
        height: 100%;
    }
}

.contactpage input[type=text],
.doemeepage input[type=text] {
    margin-top: 0 !important;
}

.contactpage .formulier,
.doemeepage .formulier {
    background: #FFFF00;
    height: 100%;
}

@media screen and (min-width: 40em) {
    .contactpage .formulier,
    .doemeepage .formulier {
        padding-left: 0;
        padding-right: 0;
        min-height: calc(100vh - 90px);
    }
}

.contactpage .formulier #input_1_3,
.doemeepage .formulier #input_1_3 {
    margin-top: 30px;
}

.contactpage input,
.doemeepage input {
    font-size: 0.75rem !important;
}

.contactpage input[type=submit],
.doemeepage input[type=submit] {
    font-size: 14px !important;
}

.contactpage .gform_wrapper .top_label .gfield_label,
.contactpage .gform_wrapper legend.gfield_label,
.doemeepage .gform_wrapper .top_label .gfield_label,
.doemeepage .gform_wrapper legend.gfield_label {
    font-size: 14px !important;
}

.contactpage .gfield_select,
.doemeepage .gfield_select {
    background: #FFFF00;
    border-radius: 99px;
    font-size: 18px !important;
    padding: 10px 20px !important;
    height: unset;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
}

.contactpage .gfield_select option,
.doemeepage .gfield_select option {
    background: #fff;
    padding: 10px !important;
    border-radius: 5px;
    border: none;
}

.contactpage textarea,
.doemeepage textarea {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    border-bottom: 0 !important;
    border-radius: 5px;
}

@media only screen and (min-width: 641px) {
    .contactpage div.ginput_complex.ginput_container.gf_name_has_3 span,
    .doemeepage div.ginput_complex.ginput_container.gf_name_has_3 span {
        width: 50%;
    }
}

.radiostyle input + label {
    transition: all ease 0.25s;
    background: #fff;
    color: #161616;
    border: none;
    border-radius: 99px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
    padding: 14px 30px !important;
    font-size: 14px !important;
    font-weight: bold;
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 96% !important;
}

.radiostyle input {
    -webkit-appearance: initial;
}

.radiostyle input:checked + label {
    background: #161616;
    color: #fff;
    border: none;
    border-radius: 99px;
}

/* ------------------- */
/*  FORMULIER STYLING  */
/* ------------------- */
.gform_wrapper {
    line-height: 1;
}

@media screen and (min-width: 40em) and (max-width: 63.99875em) {
    .gform_wrapper * {
        width: 100% !important;
    }

    .has_country {
        font-size: 18px !important;
        margin-top: 0 !important;
        padding-right: 8px !important;
    }

    #input_3_14_6 {
        margin-bottom: 0 !important;
    }
}

@media screen and (min-width: 64em) {
    .half {
        display: inline-block;
        width: 50%;
    }

    .half .ginput_container {
        width: 100%;
        margin-top: 0 !important;
    }

    .half .ginput_container input {
        margin-bottom: 15px !important;
        width: 100% !important;
    }

    .half .ginput_container .address_zip {
        width: 100% !important;
    }

    .has_street span {
        display: inline-block;
        width: 50%;
    }

    .has_street span:first-child {
        padding-right: 8px;
    }

    .address_line_2 {
        padding-left: 8px;
    }

    .has_country {
        font-size: 18px !important;
        padding-right: 8px !important;
    }

    .address_country {
        border-bottom: 1.5px solid #161616;
        min-height: 0 !important;
    }

    .address_country select {
        margin-bottom: 0 !important;
    }

    .address_country #input_3_14_6 {
        margin-bottom: 0 !important;
    }

    body .gform_wrapper ul li.gfield {
        margin-top: 0 !important;
    }
}

.has_country {
    font-size: 18px !important;
    margin-top: 0 !important;
}

.address_country {
    border-bottom: 1.5px solid #161616;
    min-height: 0 !important;
}

#field_3_14 {
    margin-top: 0 !important;
}

@media screen and (max-width: 39.99875em) {
    .address_country select {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
}

.gfield_select {
    width: 100% !important;
}

/* ---------------- */
/*  SIDEBARBUTTONS  */
/* ---------------- */
.sidebarbuttons {
    position: fixed;
    left: 20px;
    top: 50%;
    z-index: 1;
}

@media screen and (max-width: 39.99875em) {
    .sidebarbuttons {
        display: none;
    }
}

.sidebarbuttons .button {
    margin-bottom: 10px;
}

.yellow_radios .ginput_container li {
    display: inline-block;
}

.yellow_radios .ginput_container input {
    display: none !important;
}

.yellow_radios .ginput_container label {
    background: #FFFF00;
    border-radius: 99px;
    font-size: 18px !important;
    padding: 10px 20px !important;
    border: 2px solid #FFFF00;
    max-width: none !important;
}

.gform_wrapper ul.gfield_radio li input[type=radio]:checked + label {
    border: 2px solid #161616;
}

a.donate-anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

/* ---------------- */
/*  FONT TWEAKS     */
/* ---------------- */
.button {
    font-weight: 600;
    font-size: 15px;
}

small {
    font-size: 15px;
}

strong {
    font-weight: 600;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: BIJ1, sans-serif;
    font-weight: 900;
}
