@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?76457891');
  src: url('../fonts/fontello.eot?76457891#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?76457891') format('woff2'),
    url('../fonts/fontello.woff?76457891') format('woff'),
    url('../fonts/fontello.ttf?76457891') format('truetype'),
    url('../fonts/fontello.svg?76457891#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65204200#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;


  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open-big:before {
  content: '\e800';
}

/* '' */
.icon-right-small-old:before {
  content: '\e801';
}

/* '' */
.icon-left-open-big:before {
  content: '\e802';
}

/* '' */
.icon-right-open-big:before {
  content: '\e803';
}

/* '' */
.icon-phone:before {
  content: '\e804';
}

/* '' */
.icon-chart-bar:before {
  content: '\e805';
}

/* '' */
.icon-up-open-big:before {
  content: '\e806';
}

/* '' */
.icon-menu:before {
  content: '\e807';
}

/* '' */
.icon-cancel:before {
  content: '\e808';
}

/* '' */
.icon-users:before {
  content: '\e809';
}

/* '' */
.icon-cloud:before {
  content: '\e80a';
}

/* '' */
.icon-linkedin-squared:before {
  content: '\e80b';
}

/* '' */
.icon-down-open-1:before {
  content: '\e80c';
}

/* '' */
.icon-left-open-1:before {
  content: '\e80d';
}

/* '' */
.icon-up-open-1:before {
  content: '\e80e';
}

/* '' */
.icon-right-open-1:before {
  content: '\e80f';
}

/* '' */
.icon-sun:before {
  content: '\e810';
}

/* '' */
.icon-mail:before {
  content: '\e811';
}

/* '' */
.icon-heart:before {
  content: '\e812';
}

/* '' */
.icon-sun-1:before {
  content: '\e813';
}

/* '' */
.icon-heart-empty:before {
  content: '\e814';
}

/* '' */
.icon-star:before {
  content: '\e815';
}

/* '' */
.icon-star-empty:before {
  content: '\e816';
}

/* '' */
.icon-search:before {
  content: '\e817';
}

/* '' */
.icon-logout:before {
  content: '\e818';
}

/* '' */
.icon-flash:before {
  content: '\e819';
}

/* '' */
.icon-logout-1:before {
  content: '\e81a';
}

/* '' */
.icon-export:before {
  content: '\e81b';
}

/* '' */
.icon-leaf:before {
  content: '\e81c';
}

/* '' */
.icon-down-small:before {
  content: '\e81d';
}

/* '' */
.icon-left-small:before {
  content: '\e81e';
}

/* '' */
.icon-up-small:before {
  content: '\e81f';
}

/* '' */
.icon-left:before {
  content: '\e820';
}

/* '' */
.icon-down:before {
  content: '\e821';
}

/* '' */
.icon-right:before {
  content: '\e822';
}

/* '' */
.icon-up:before {
  content: '\e823';
}

/* '' */
.icon-headphones:before {
  content: '\e824';
}

/* '' */
.icon-pause:before {
  content: '\e825';
}

/* '' */
.icon-bell:before {
  content: '\e854';
}

/* '' */
.icon-zoom-in:before {
  content: '\e86e';
}

/* '' */
.icon-zoom-out:before {
  content: '\e86f';
}

/* '' */
.icon-down-open:before {
  content: '\e876';
}

/* '' */
.icon-left-open:before {
  content: '\e877';
}

/* '' */
.icon-right-open:before {
  content: '\e878';
}

/* '' */
.icon-up-open:before {
  content: '\e879';
}

/* '' */
.icon-down-big:before {
  content: '\e87a';
}

/* '' */
.icon-left-big:before {
  content: '\e87b';
}

/* '' */
.icon-right-big:before {
  content: '\e87c';
}

/* '' */
.icon-up-big:before {
  content: '\e87d';
}

/* '' */
.icon-link-ext:before {
  content: '\f08e';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-facebook-1:before {
  content: '\f09a';
}

/* '' */
.icon-rss:before {
  content: '\f09e';
}

/* '' */
.icon-menu-1:before {
  content: '\f0c9';
}

/* '' */
.icon-pinterest-squared:before {
  content: '\f0d3';
}

/* '' */
.icon-mail-alt:before {
  content: '\f0e0';
}

/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */
.icon-bell-alt:before {
  content: '\f0f3';
}

/* '' */
.icon-food:before {
  content: '\f0f5';
}

/* '' */
.icon-circle-empty:before {
  content: '\f10c';
}

/* '' */
.icon-circle:before {
  content: '\f111';
}

/* '' */
.icon-link-ext-alt:before {
  content: '\f14c';
}

/* '' */
.icon-euro:before {
  content: '\f153';
}

/* '' */
.icon-youtube-squared:before {
  content: '\f166';
}

/* '' */
.icon-youtube:before {
  content: '\f167';
}

/* '' */
.icon-youtube-play:before {
  content: '\f16a';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-apple:before {
  content: '\f179';
}

/* '' */
.icon-android:before {
  content: '\f17b';
}

/* '' */
.icon-dot-circled:before {
  content: '\f192';
}

/* '' */
.icon-vimeo-squared:before {
  content: '\f194';
}

/* '' */
.icon-google:before {
  content: '\f1a0';
}

/* '' */
.icon-twitch:before {
  content: '\f1e8';
}

/* '' */
.icon-brush:before {
  content: '\f1fc';
}

/* '' */
.icon-facebook-official:before {
  content: '\f230';
}

/* '' */
.icon-pinterest:before {
  content: '\f231';
}

/* '' */
.icon-whatsapp:before {
  content: '\f232';
}

/* '' */
.icon-hourglass-o:before {
  content: '\f250';
}

/* '' */
.icon-bluetooth-b:before {
  content: '\f294';
}

/* '' */
.icon-facebook-squared:before {
  content: '\f308';
}

/* '' */
.icon-facebook:before {
  content: '\f30c';
}

/* '' */